* {
  box-sizing: border-box;
}

div {
  border: 1px solid greenyellow;
}

body {
  border: 1px solid red;
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 4fr;
}

.sidebar {
  grid-area: 1 / 1 / 3 / 2;
  display: grid;
  grid-template-rows: 72px 144px 72px;
  gap: 24px;
}

.sidebar div {
  display: grid;
}

.sidebar div div {
  border: 1px solid orange;
}

.header {
  grid-area: 1 / 2 / 2 / 3;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.header-top {
  display: grid;
  grid-template-columns: 7fr 1fr 1fr 1fr;
}

.header-bottom {
  display: grid;
  grid-template-columns: 1fr 6fr 1fr 1fr 1fr;
}

.main-content {
  grid-area: 2 / 2 / 3 / 3;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 5fr 1fr 5fr;
}

.your-projects {
  grid-area: 1 / 1 / 2 / 2;
}

.projects {
  grid-area: 2 / 1 / 5 / 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.announcements {
  grid-area: 1 / 2 / 2 / 3;
}

.ann-contents {
  grid-area: 2 / 2 / 3 / 3;
}

.trending {
  grid-area: 3 / 2 / 4 / 3;
}

.trend-contents {
  grid-area: 4 / 2 / 5 / 3;
}